# Experiments parameters
 perf{
      testBuildingBlocks="false";
      PrivacyPreservation="true";
      microBench="true";
      MLAlgorithm="vfdt";
      runs_number ="1";
      thread_number="14";
      remoteClient="false";
      Incremental="false";
      OutputPath="/root/DAPPLE-2.0/EXP/MICRO/";
      scenarioName ="VFDTAdultOPT";
      debug="false";
      maxTrainSize="5";
      maxTestSize="5";
 }

 # The dataset configuration parameters
 dataset{

     mainPath = "/root/DAPPLE-2.0/";
     path="/root/DAPPLE-2.0/DATA/Datasets/Adult/";
     clearPath= "/home/rania/CLionProjects/DAPPLE-2.0/DATA/Datasets/Adult/";
     chunk_prefix="DO";
     class_number="2";
     dimension="15";
     chunk_number="16";
 }

 # The vfdt algorithm parameters
 vfdt{

     delta="0.000001";
     tau="1";
     grace="50";
     max_depth="8";
     threshold_number="2";
     maxNodes="1000";
 }

 # DTPKC parameters
 crypto{
     deserialize="false";
     pathSer="/root/DAPPLE-2.0/SER/";
     keySize ="1024";
     DTPKC_Err = "600";
     ComputationalPrecision="1000";
     useORE="false";
     sendParaClient="true";
     blindingSize="100";
     encryptData="true";
     delay="0";
     optim = "true";
     precompute = "true";
 }

 # Naive Bayes parameters
 nb{
     LaplaceConstant="10";
 }

 #LR parameters

 lr{
    alpha="10000";
    LRTH="0.5";
    batchSize="30";
    epochs="1";
    sgdWorkers="4";
 }

 # Network parameters
 network{
     portS="5001";
     serverIP="127.0.0.1";
 }
