# Experiments parameters
 perf{
      testBuildingBlocks="false";
      PrivacyPreservation="false";
      microBench="false";
      MLAlgorithm="nn";
      runs_number ="1";
      thread_number="1";
      remoteClient="false";
      Incremental="true";
      OutputPath="/home/rania/CLionProjects/DAPPLE-2.0/EXP/MANU/";
      scenarioName ="neuralnets";
      debug="true";
      maxTrainSize="100";
      maxTestSize="400";
 }

 # The dataset configuration parameters
 dataset{

     mainPath = "/home/rania/CLionProjects/DAPPLE-2.0/";
     path="/home/rania/CLionProjects/DAPPLE-2.0/DATA/Datasets/Adult/";
     clearPath= "/home/rania/CLionProjects/DAPPLE-2.0/DATA/Datasets/Adult/";
     chunk_prefix="DO";
     class_number="2";
     dimension="15";
     chunk_number="16";
 }

 # The vfdt algorithm parameters
 vfdt{

     delta="0.000001";
     tau="1";
     grace="50";
     max_depth="20";
     threshold_number="2";
     maxNodes="1000";
 }

 # DTPKC parameters
 crypto{
     deserialize="true";
     pathSer="/home/rania/CLionProjects/DAPPLE-2.0/SER/";
     keySize ="1024";
     DTPKC_Err = "600";
     ComputationalPrecision="1000";
     useORE="true";
     sendParaClient="true";
     blindingSize="10";
     encryptData="true";
     delay="0";
     optim = "true";
     precompute = "true";
 }

 # Naive Bayes parameters
 nb{
     LaplaceConstant="1";
 }

 #LR parameters

 lr{
    alpha="1000";
    LRTH="0.5";
    batchSize="20";
    epochs="1";
    sgdWorkers="1";
 }

 # Network parameters
 network{
     portS="5001";
     serverIP="127.0.0.1";
 }