# Experiments parameters
 perf{
      testBuildingBlocks="false";
      PrivacyPreservation="true";
      microBench="true";
      MLAlgorithm="vfdt";
      runs_number ="1";
      thread_number="14";
      remoteClient="false";
      Incremental="true";
      OutputPath="/home/rania/CLionProjects/DAPPLE-2.0/EXP/MANU/";
      scenarioName ="VFDTNurseryPLain";
      debug="true";
      maxTrainSize="5";
      maxTestSize="5";
 }

 # The dataset configuration parameters
 dataset{

     mainPath = "/home/rania/CLionProjects/DAPPLE-2.0/";
     path="/home/rania/CLionProjects/DAPPLE-2.0/DATA/Datasets/Nursery/FULL/";
     clearPath= "/home/rania/CLionProjects/DAPPLE-2.0/DATA/Datasets/Nursery/FULL/";
     chunk_prefix="DO";
     class_number="2";
     dimension="8";
     chunk_number="1";
   }

   # The vfdt algorithm parameters
   vfdt{
       delta="0.001";
       tau="1";
       grace="5";
       max_depth="30";
       threshold_number="2";
       maxNodes="1500";
   }

 # DTPKC parameters
 crypto{
     deserialize="false";
     pathSer="/home/rania/CLionProjects/DAPPLE-2.0/SER/";
     keySize ="1024";
     DTPKC_Err = "600";
     ComputationalPrecision="1000";
     useORE="false";
     sendParaClient="true";
     blindingSize="100";
     encryptData="true";
     delay="0";
     optim = "true";
     precompute = "true";
 }

 # Naive Bayes parameters
 nb{
     LaplaceConstant="10";
 }

 #LR parameters

 lr{
    alpha="10000";
    LRTH="0.5";
    batchSize="30";
    epochs="1";
    sgdWorkers="4";
 }

 # Network parameters
 network{
     portS="5001";
     serverIP="127.0.0.1";
 }